<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Applify</title>
</head>
<body>
     <!-- Image and text -->
     <div class="calculator-main text-center">
        <nav role="navigation" class="navbar pt10 navbar-custom fixed-top" id="navbar" style="">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand float-left" href="/site">
                  <img class="rs-logo rs-hide" itemprop="image" src="/public/images/logo.png">
                </a>
                <ul class="nav navbar-nav navbar-right mt10 float-right">
                  <li>
                    <label class="head-prize">
                      <small>Rough Estimate</small>
                      <!-- <br> -->
                      <!-- <span id="total" value="total">$<%=totaldata%></span> -->
                      <input type="" id="total" style="margin-top: -10px; width: 50px; height:20px ;"> </input>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
  <section class="main_calculator">
    <div class="container">
      <div class="row main_row">
        <div class="col-md-12">
          <div class="main_div_row_one cost_steps">
            <div class="row ">
              <div class="col-md-12">
                <h2>Scratch or Readymade Apps?</h2>
              </div>
            </div>
            <div class="row row_bx">
              <div class="col-lg-6 col-md-12">
                <div class="exist_business_bx clr_black">
                  <h3> Readymade (save upto 40% of the cost) </h3>
                  <p> Uber, Intagram, Airbnb, Whatsapp etc. </p>
                  <img src="/public/images/logo.png" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="exist_business_bx clr_orange">
                  <h3> Custom App </h3>
                  <p> Cars & Transport, Social networking, Travel, <br> Health & Beauty etc. </p>
                  <img src="/public/images/logo.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="main_div_two cost_steps">
            <div class="row ">
              <div class="col-md-12">
                <div class="title_text">
                  <a href="#_" class="">
                    <i class="fa fa-angle-left"></i> Back </a>
                  <h2>Industry or Category</h2>
                </div>
              </div>
            </div>
            <div class="row row_bx">
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/app1.png" alt="">
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/app2.png" alt="">
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/app3.png" alt="">
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/app4.png" alt="">
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/app1.png" alt="">
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/app2.png" alt="">
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/app3.png" alt="">
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/app4.png" alt="">
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/app1.png" alt="">
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/app2.png" alt="">
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/app3.png" alt="">
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo add_new btn_stroke">+ Add new category</span>
              </div>
            </div>
          </div>
          <div class="main_div_three cost_steps">
            <div class="row ">
              <div class="col-md-12">
                <div class="title_text">
                  <a href="#_" class="">
                    <i class="fa fa-angle-left"></i> Back </a>
                  <h2>Industry or Category</h2>
                </div>
              </div>
            </div>
            <div class="row row_bx">
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/business_cate1.png" alt="">
                  <sup class="category-title ng-star-inserted"> Food & Grocery Delivery </sup>
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/business_cate2.png" alt="">
                  <sup class="category-title ng-star-inserted"> Healthcare & Fitness </sup>
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/business_cate3.png" alt="">
                  <sup class="category-title ng-star-inserted"> Beauty</sup>
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/business_cate4.png" alt="">
                  <sup class="category-title ng-star-inserted">Transportation </sup>
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/business_cate5.png" alt="">
                  <sup class="category-title ng-star-inserted"> Video Content </sup>
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/business_cate3.png" alt="">
                  <sup class="category-title ng-star-inserted"> Beauty</sup>
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/business_cate4.png" alt="">
                  <sup class="category-title ng-star-inserted">Transportation </sup>
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/business_cate5.png" alt="">
                  <sup class="category-title ng-star-inserted"> Video Content </sup>
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
              <span class="app_logo">
                  <img src="images/business_cate1.png" alt="">
                  <sup class="category-title ng-star-inserted"> Food & Grocery Delivery </sup>
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/business_cate2.png" alt="">
                  <sup class="category-title ng-star-inserted"> Healthcare & Fitness </sup>
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo">
                  <img src="images/business_cate3.png" alt="">
                  <sup class="category-title ng-star-inserted"> Beauty</sup>
                </span>
              </div>
              <div class="col-lg-3 col-md-4">
                <span class="app_logo add_new btn_stroke">+ Add new category</span>
              </div>
            </div>
          </div>
          <div class="add_new_cate cost_steps">
            <div class="row ">
              <div class="col-md-12">
                <h2>Choose your Business</h2>
              </div>
            </div>
            <form>
              <h3>Add new category</h3>
              <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="Required category">
              </div>
              <div class="form-group">
                <input type="name" class="form-control" id="" placeholder="Your name *">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="" placeholder="Email address for notifications *">
              </div>
              <!-- <div class="form-check"><input type="checkbox" class="form-check-input" id="exampleCheck1"><label class="form-check-label" for="exampleCheck1">Check me out</label></div> -->
              <button type="submit" class="btn_main">Send</button>
            </form>
          </div>

        </div>

      </div>
   
   <!-- MultiStep Form -->
   <div class="row cost_steps">
    <div class="col-md-12 main_row">
      <form id="msform">
        <!-- fieldsets -->
        <fieldset>
            <div class="title_text">
          <a href="#_" class="">
            <i class="fa fa-angle-left"></i> Back </a>
          <h2>Platform</h2>
        </div>
         <!--  <h2 class="fs-title"></h2> -->
          <div class="row">
            <div class="col-lg-4">
              <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                <span _ngcontent-my-app-c9="" class="text">Web <br>App</span>
                <!---->
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    <span class="indicator"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                <span _ngcontent-my-app-c9="" class="text">Mobile<br> App</span>
                <!---->
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    <span class="indicator"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                <span _ngcontent-my-app-c9="" class="text">Both</span>
                <!---->
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    <span class="indicator"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <input type="button" name="next" class="next btn_main" value="Save and Continue" />
        </fieldset>
        <fieldset>
            <div class="title_text">
          <a href="#_" class="">
            <i class="fa fa-angle-left"></i> Back </a>
          <h2 class="fs-title">Login Type</h2>
      </div>
          <div class="row">
            <div class="col-lg-6">
              <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                <span _ngcontent-my-app-c9="" class="text">Email Login</span>
                <!---->
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    <span class="indicator"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                <span _ngcontent-my-app-c9="" class="text">Via Social Networks</span>
                <!---->
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    <span class="indicator"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                <span _ngcontent-my-app-c9="" class="text">2 Step Authentications</span>
                <!---->
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    <span class="indicator"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                <span _ngcontent-my-app-c9="" class="text">No Signup Required</span>
                <!---->
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    <span class="indicator"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- <input type="text" name="twitter" placeholder="Twitter" />
          <input type="text" name="facebook" placeholder="Facebook" />
          <input type="text" name="gplus" placeholder="Google Plus" /> -->
          <!-- <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> -->
          <input type="button" name="next" class="next btn_main" value="Save and Continue" />
        </fieldset>

        <fieldset>
            <div class="title_text">
          <a href="#_" class="">
            <i class="fa fa-angle-left"></i> Back </a>
          <h2 class="fs-title">Profile Creation</h2>
      </div>
          <div class="row">
            <div class="col-lg-6">
              <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                <span _ngcontent-my-app-c9="" class="text">Users & Accounts Required</span>
                <!---->
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    <span class="indicator"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                <span _ngcontent-my-app-c9="" class="text">Not Required</span>
                <!---->
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    <span class="indicator"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- <input type="text" name="twitter" placeholder="Twitter" />
          <input type="text" name="facebook" placeholder="Facebook" />
          <input type="text" name="gplus" placeholder="Google Plus" /> -->
          <!-- <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> -->
          <input type="button" name="next" class="next btn_main" value="Save and Continue" />
        </fieldset>
        <fieldset>
            <div class="title_text">
          <a href="#_" class="">
            <i class="fa fa-angle-left"></i> Back </a>
          <h2>Feature Types</h2>
        </div>
          <h3 class="fs-subtitle">Please choose required features below:</h3>
          <div class="main_list_bx">
          <ul class="check_ul">
            <h4>Enough for MVP</h4>
            <li>
                <div class="form-group">
                  <input type="checkbox" id="html"  class="sum" 
                  value="<%=userFeed%>"  >
                  <label for="html">User Feed 
                    <!-- <span><%=userFeed%> hours</span> -->
                </label>
                </div>
            </li>
            <li><div class="form-group">
                  <input type="checkbox" id="html2"  class="sum"
                  value="<%=search%>"  >
                  <label for="html2">Search
                     <!-- <span><%=search%> hours</span> -->
                    </label>
                </div>
            </li>
            <li><div class="form-group">
                  <input type="checkbox" id="html3"  class="sum" value="<%=messuserMang%>">
                  <label for="html3">Messaging and User Engagement 
                    <!-- <span><%=messuserMang%> hours</span> -->
                </label>
                </div>
            </li>
            <li><div class="form-group">
                  <input type="checkbox" id="html4"  class="sum" value="<%=payECommerce%>">
                  <label for="html4">Payment and eCommerce
                     <!-- <span><%=payECommerce%> hours</span> -->
                    </label>
                </div>
            </li>
            <li><div class="form-group">
                  <input type="checkbox" id="html5"  class="sum" value="<%=UserGen%>">
                  <label for="html5">User-Generated Content 
                    <!-- <span><%=UserGen%> hours</span> -->
                </label>
                </div>
            </li>
            <li><div class="form-group">
                  <input type="checkbox" id="html6"  class="sum" value="<%=Booking%>">
                  <label for="html6">Booking 
                    <!-- <span><%=Booking%> hours</span> -->
                </label>
                </div>
            </li>
          </ul>
          <ul class="check_ul">
            <h4>Additional features</h4>
            <li>
                <div class="form-group">
                  <input type="checkbox" id="html7"  class="sum" value="<%=pushNoti%>">
                  <label for="html7">Push Notifications 
                    <!-- <span><%=pushNoti%> hours</span> -->
                </label>
                </div>
            </li>
            <li><div class="form-group">
                  <input type="checkbox" id="html8"  class="sum" value="<%=RatingReview%>">
                  <label for="html8">Rating & Reviews 
                    <!-- <span><%=RatingReview%> hours</span> -->
                </label>
                </div>
            </li>
            <li><div class="form-group">
                  <input type="checkbox" id="html9"  class="sum" value="<%=RewardDeal%>">
                  <label for="html9">Rewards & Deals 
                    <!-- <span><%=RewardDeal%> hours</span> -->
                </label>
                </div>
            </li>
            <li><div class="form-group">
                  <input type="checkbox" id="html10"  class="sum" value="<%=CategroyFilter%>">
                  <label for="html10">Category & Filters 
                    <!-- <span><%=CategroyFilter%> hours</span> -->
                </label>
                </div>
            </li>
          </ul>
      </div>
          <!-- <input type="text" name="twitter" placeholder="Twitter" />
          <input type="text" name="facebook" placeholder="Facebook" />
          <input type="text" name="gplus" placeholder="Google Plus" /> -->
          <!-- <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> -->
          <input type="button" name="next" class="next btn_main" value="Save and Continue" />
        </fieldset>
        <fieldset>
          <h2 class="fs-title">Submit project</h2>
          <h3 class="fs-subtitle">Fill in your credentials to authorize submission</h3>
          <input type="text" name="email" placeholder="Username" />
          <input type="password" name="pass" placeholder="Password" />
          <!-- <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> -->
          <input type="submit" name="submit" class="submit btn_main" value="Submit" />
        </fieldset>
        <!-- progressbar -->
        <ul id="progressbar">
          <li class="active"></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <div class="row row_tag">
            <div class="col-md-12">
                <ul>
                    <h4>Platform:</h4>
                    <li> Web App </li>
                </ul>

                <ul>
                    <h4>Features:</h4>
                    <li>  User Feed  </li>
                    <li>Search</li>
                </ul>
            </div>
        </div>
      </form>
      <!-- link to designify.me code snippets -->
      <!-- /.link to designify.me code snippets -->
    </div>
    <!-- <div class="col-md-4">
        <div class="box_calc">
            <p>Estimated cost</p>
            <h2>0h</h2>
        </div>
        <div class="box_calc bg_grey">
            <p>Summary time</p>
            <h2>0h</h2>
        </div>
        <div class="box_calc bg_grey">
            <p>Summary time</p>
            <h2>0h</h2>
        </div>
      </div> -->

   </div>
  </div> 
</section>
   
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
     <script>
        // function myFunction(...val) {
        //     let result=[]
        //     result.push(val)
        //     // for(let i in result)
        //     // {
        //     //   let r=0;
        //     //    r=r+result[i]
        //     // }
        //    alert("The input value has changed. The new value is: " + result)
        // }
    
        $(document).ready(function() {
    function updateSum() {
      var total = 0;
      $(".sum:checked").each(function(i, n) {total += parseInt($(n).val());})
      $("#total").val(total);
    }
    // run the update on every checkbox change and on startup
    $("input.sum").change(updateSum);
    updateSum();
})
        
       //jQuery time
       var current_fs, next_fs, previous_fs; //fieldsets
       var left, opacity, scale; //fieldset properties which we will animate
       var animating; //flag to prevent quick multi-click glitches
       $(".next").click(function() {
         if (animating) return false;
         animating = true;
         current_fs = $(this).parent();
         next_fs = $(this).parent().next();
         //activate next step on progressbar using the index of next_fs
         $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
         //show the next fieldset
         next_fs.show();
         //hide the current fieldset with style
         current_fs.animate({
           opacity: 0
         }, {
           step: function(now, mx) {
             //as the opacity of current_fs reduces to 0 - stored in "now"
             //1. scale current_fs down to 80%
             scale = 1 - (1 - now) * 0.2;
             //2. bring next_fs from the right(50%)
             left = (now * 50) + "%";
             //3. increase opacity of next_fs to 1 as it moves in
             opacity = 1 - now;
             current_fs.css({
               'transform': 'scale(' + scale + ')',
               'position': 'absolute'
             });
             next_fs.css({
               'left': left,
               'opacity': opacity
             });
           },
           duration: 800,
           complete: function() {
             current_fs.hide();
             animating = false;
           },
           //this comes from the custom easing plugin
           easing: 'easeInOutBack'
         });
       });
       $(".previous").click(function() {
         if (animating) return false;
         animating = true;
         current_fs = $(this).parent();
         previous_fs = $(this).parent().prev();
         //de-activate current step on progressbar
         $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
         //show the previous fieldset
         previous_fs.show();
         //hide the current fieldset with style
         current_fs.animate({
           opacity: 0
         }, {
           step: function(now, mx) {
             //as the opacity of current_fs reduces to 0 - stored in "now"
             //1. scale previous_fs from 80% to 100%
             scale = 0.8 + (1 - now) * 0.2;
             //2. take current_fs to the right(50%) - from 0%
             left = ((1 - now) * 50) + "%";
             //3. increase opacity of previous_fs to 1 as it moves in
             opacity = 1 - now;
             current_fs.css({
               'left': left
             });
             previous_fs.css({
               'transform': 'scale(' + scale + ')',
               'opacity': opacity
             });
           },
           duration: 800,
           complete: function() {
             current_fs.hide();
             animating = false;
           },
           //this comes from the custom easing plugin
           easing: 'easeInOutBack'
         });
       });
       $(".submit").click(function() {
         return false;
       })
     </script>
</body>
</html>